{% extends "base.html" %}

{% block title %}Order Details{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Order Details</h2>
    <p>Order Number: {{ order.order_number }}</p>
    <p>Order Date: {{ order.order_date }}</p>
    <p>Status: {{ order.order_status }}</p>

    {% if order.order_status == "Pending" %}
        <form action="{{ url_for('customer.cancel_order', order_id=order.id) }}" method="post">
            <button type="submit" class="btn btn-danger mb-4">Cancel Order</button>
        </form>
        <a href="{{ url_for('customer.checkout', order_id=order.id) }}" class="btn btn-primary mb-4">Checkout</a>
    {% endif %}

    <h3>Items</h3>
    <ul class="list-group">
        {% for item in items %}
            <li class="list-group-item">
                {% if item.item.type == 'VEGGIE' %}
                    {{ item.item.veg_name }} - {{ item.order_line.amount }} units
                {% elif item.item.type == 'PREMADE_BOX' %}
                    Premade Box (Size {{ item.item.box_size }}) - {{ item.order_line.amount }} units
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <h4 class="mt-3">Total Amount: ${{ total_amount }}</h4>  <!-- Display total amount -->
</div>
{% endblock %}
