{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Customer Details</h2>
    <ul class="list-group mt-3 mb-3">
        <li class="list-group-item"><strong>ID:</strong> {{ customer.id }}</li>
        <li class="list-group-item"><strong>First Name:</strong> {{ customer.first_name }}</li>
        <li class="list-group-item"><strong>Last Name:</strong> {{ customer.last_name }}</li>
        <li class="list-group-item"><strong>Username:</strong> {{ customer.username }}</li>
        <li class="list-group-item"><strong>Address:</strong> {{ customer.cust_address }}</li>
        <li class="list-group-item"><strong>Balance:</strong> ${{ customer.cust_balance }}</li>
        <li class="list-group-item"><strong>Max Owing:</strong> ${{ customer.max_owing }}</li>
    </ul>
    <a href="{{ url_for('staff.view_customers') }}" class="btn btn-secondary">Back to Customers</a> <!-- Button to go back -->
</div>

{% endblock %}
